.area
{
    top: 0px;
}


/* Portfolio V2 */

.sub.sub-menu>a
{
    padding: 10px 0px;
    text-align: center;
}
header
{
    display: inline-flex;
    position: fixed;
    z-index: 2;
    top: 0px;
    align-items: center;
    width: 175px;
    height: 100vh
}
.header-item
{
    display: none;
}
.partone
{
    flex-direction: column;
    justify-content: center;
}
.parttwo
{
    margin-top: 20px;
}
.partthree
{
    transform: translate(0px, -55px);
}

/* Elements généraux */

main
{
    transform: translate(205px);
    top: 0px;
}
h1
{
    font-size: 32px;
    text-align: left;
}
h2
{
    font-size: 25px;
}
.ligne
{
    flex-direction: row !important;
}
.bloc>p
{
    text-align: left;
}
.home .flex.column>p
{
    padding: 0px 15px;
}
.flex.column>p
{
    padding: 0px;
}
.ligne, #row
{
    flex-direction: row !important;
}
.valign
{
    margin-top: auto;
    margin-bottom: auto;
}
.redirection.liste
{
    width: 300px;
}
.blanc
{
    width: 278px;
}
.redirection.liste, .espacedroite
{
    margin-right: 9px;
}
footer
{
    text-align: center;
    margin-top: 25px;
}
.rightt
{
    margin-left: 35%;
}

/* A propos */

.ligne.flex.column.bloc.a-propos
{
    flex-direction: column !important;
}
.grid.parcours
{
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
.par.logo
{
    margin-bottom: 25px;
}
.saut
{
    margin-bottom: auto;
}
.sautdeux
{
    margin-bottom: 39px;
}
.sautgauche
{
    margin-left: 25px;
}

/* Réalisations */

.height
{
    height: 235px;
}
.left
{
    text-align: left;
}
.leftc
{
    margin-right: auto;
    margin-left: 0px;
}

/* Réalisations */



/* Réalisations étudiantes */

/* #un, #quatre, #cinq, .ligne.flex.column
{
    margin-left: 50px;
} */
.etudiant
{
    grid-template-columns: 300px 300px 300px;
}

/* Réalisations pro */

.redirection.pro
{
    width: 269px;
}
.redirection.pro>.blanc
{
    width: 242px;
}

/* Lycée Gustave Eiffel */

.grid.gallery.lycee
{
    grid-template-columns: 162.5px 162.5px 162.5px 162.5px 162.5px 162.5px;
    gap: 5px;
    margin: 15px;
}
.grid.gallery.lycee>img
{
    grid-column: span 2;
}
.except
{
    grid-column: span 3 !important;
}
.ro
{
    margin: 0px 6%;
}

/* Registre des cancers du Haut-Rhin */

.roro
{
    margin: 10px 3%;
}

/* Compétences */

.competence.grid
{
    grid-template-columns: 269px 269px 269px;
}
.liste.competence.grid
{
    width: 269px;
}
.liste.grid.competence
{
    grid-template-columns: 100px 115px;
}
.barre
{
    width: 90%;
}