/* Taille des zones */

/* .area, main
{
    height: 100% !important;
} */

.circles
{
    width: 93%;
}

/* Elements généraux */
.ligne
{
    width: 92%;
}
.ligne, #row
{
    flex-direction: row !important;
}
.valign
{
    margin-top: auto;
    margin-bottom: auto;
}
.redirection.liste
{
    width: 300px;
}
.blanc
{
    width: 278px;
}
.redirection.liste, .espacedroite /* à ne pas supprimer */
{
    margin-right: 9px;
}
.footer
{
    margin-top: auto;
}
.leftt
{
    margin-right: auto;
}
.rightt
{
    margin-left: 3%;
}

/* Réalisations */
.height
{
    height: 235px;
}
.left
{
    text-align: left;
}
.leftc
{
    margin-right: 0px !important;
    margin-left: 0px !important;
}
.text.rea
{
    margin-top: 0px;
}

/* Réalisations étudiantes */

.etudiant, .pro
{
    display: grid;
    grid-template-columns: 300px 300px;
    gap: 15px;
    justify-content: center;
}
/* .etudiant>div>.iframe
{
    margin-bottom: 0px;
} */
.etudiant>div>img
{
    max-height: 169px;
}

/* Compétences */

.competence.grid
{
    display: grid !important;
    grid-template-columns: 200px 200px 200px;
    gap: 9px;
}
.liste.grid.competence
{
    grid-template-columns: 100px 115px;
    width: 200px;
}
.liste.grid.competence>div>h3
{
    font-size: 16px;
}
.barre
{
    width: 50%;
}

/* A propos */

.ligne.flex.column.bloc.a-propos
{
    flex-direction: column !important;
}
.grid.parcours
{
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
.par.logo
{
    margin-bottom: 25px;
}
.saut
{
    margin-bottom: auto;
}
.sautdeux
{
    margin-bottom: 39px;
}
.sautgauche
{
    margin-left: 25px;
}

/* Lycée Gustave Eiffel */

.grid.gallery.lycee
{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 5px;
}